<?xml version="1.0"?>
<!DOCTYPE config SYSTEM "Tsclab.OpcAccess.dtd">
<config>
  <opcInfo type="General.Index">
    <ip>localhost</ip>
    <serverName>KEPware.KEPServerEx.V4</serverName>
    <group name="Gp.Group.General.Index" timespan="300">
      <groupDefaultProperties isActive="true" deadBand="0" updateRate="1000" />
      <groupProperties isActive="true" deadBand="0" updateRate="1000" isSubscribed="true" />
      <opcItem id="1">
        <item name="01_SU">OSI_DA1.General.01_SU</item>
      </opcItem>
      <opcItem id="2">
        <item name="02_SU">OSI_DA1.General.02_SU</item>
      </opcItem>
      <opcItem id="3">
        <item name="03_SU">OSI_DA1.General.03_SU</item>
      </opcItem>
      <opcItem id="4">
        <item name="04_SU">OSI_DA1.General.04_SU</item>
      </opcItem>
      <opcItem id="0">
        <item name="T_SU" strategy="Sum">
          <subItem name="01_SU">OSI_DA1.General.01_SU</subItem>
          <subItem name="02_SU">OSI_DA1.General.02_SU</subItem>
          <subItem name="03_SU">OSI_DA1.General.03_SU</subItem>
          <subItem name="04_SU">OSI_DA1.General.04_SU</subItem>
        </item>
      </opcItem>
    </group>
  </opcInfo>
  <opcInfo type="UnitIndex.Index">
    <ip>localhost</ip>
    <serverName>KEPware.KEPServerEx.V4</serverName>
    <group name="Gp.Group.UnitIndex.Index" timespan="300">
      <groupDefaultProperties isActive="true" deadBand="0" updateRate="1000" />
      <groupProperties isActive="true" deadBand="0" updateRate="1000" isSubscribed="true" />
      <opcItem id="1">
        <item name="01_SEOC" strategy="Average">
          <subItem name="01_SEOC_01">OSI_DA1.UnitIndex.01_SEOC_01</subItem>
          <subItem name="01_SEOC_02">OSI_DA1.UnitIndex.01_SEOC_02</subItem>
        </item>
        <item name="01_SEOT" strategy="Average">
          <subItem name="01_SEOT_01">OSI_DA1.UnitIndex.01_SEOT_01</subItem>
          <subItem name="01_SEOT_02">OSI_DA1.UnitIndex.01_SEOT_02</subItem>
        </item>
        <item name="01_ALR">OSI_DA1.UnitIndex.01_ALR</item>
        <item name="01_ACB">OSI_DA1.UnitIndex.01_ACB</item>
        <item name="01_BFW">OSI_DA1.UnitIndex.01_BFW</item>
        <item name="01_DWF">OSI_DA1.UnitIndex.01_DWF</item>
        <item name="01_FWF">OSI_DA1.UnitIndex.01_FWF</item>
        <item name="01_FWP">OSI_DA1.UnitIndex.01_FWP</item>
        <item name="01_MSPB">OSI_DA1.UnitIndex.01_MSPB</item>
        <item name="01_MSTB">OSI_DA1.UnitIndex.01_MSTB</item>
        <item name="01_RSPB">OSI_DA1.UnitIndex.01_RSPB</item>
        <item name="01_RSTB">OSI_DA1.UnitIndex.01_RSTB</item>
        <item name="01_MSPT">OSI_DA1.UnitIndex.01_MSPT</item>
        <item name="01_MSTT">OSI_DA1.UnitIndex.01_MSTT</item>
        <item name="01_RSPT">OSI_DA1.UnitIndex.01_RSPT</item>
        <item name="01_RSTT">OSI_DA1.UnitIndex.01_RSTT</item>
        <item name="01_MSFT">OSI_DA1.UnitIndex.01_MSFT</item>
        <item name="01_CEV">OSI_DA1.UnitIndex.01_CEV</item>
        <item name="01_AP">OSI_DA1.UnitIndex.01_AP</item>
        <item name="01_RP">OSI_DA1.UnitIndex.01_RP</item>
      </opcItem>
      <opcItem id="2">
        <item name="02_SEOC" strategy="Average">
          <subItem name="02_SEOC_01">OSI_DA1.UnitIndex.02_SEOC_01</subItem>
          <subItem name="02_SEOC_02">OSI_DA1.UnitIndex.02_SEOC_02</subItem>
        </item>
        <item name="02_SEOT" strategy="Average">
          <subItem name="02_SEOT_01">OSI_DA1.UnitIndex.02_SEOT_01</subItem>
          <subItem name="02_SEOT_02">OSI_DA1.UnitIndex.02_SEOT_02</subItem>
        </item>
        <item name="02_ALR">OSI_DA1.UnitIndex.02_ALR</item>
        <item name="02_ACB">OSI_DA1.UnitIndex.02_ACB</item>
        <item name="02_BFW">OSI_DA1.UnitIndex.02_BFW</item>
        <item name="02_DWF">OSI_DA1.UnitIndex.02_DWF</item>
        <item name="02_FWF">OSI_DA1.UnitIndex.02_FWF</item>
        <item name="02_FWP">OSI_DA1.UnitIndex.02_FWP</item>
        <item name="02_MSPB">OSI_DA1.UnitIndex.02_MSPB</item>
        <item name="02_MSTB">OSI_DA1.UnitIndex.02_MSTB</item>
        <item name="02_RSPB">OSI_DA1.UnitIndex.02_RSPB</item>
        <item name="02_RSTB">OSI_DA1.UnitIndex.02_RSTB</item>
        <item name="02_MSPT">OSI_DA1.UnitIndex.02_MSPT</item>
        <item name="02_MSTT">OSI_DA1.UnitIndex.02_MSTT</item>
        <item name="02_RSPT">OSI_DA1.UnitIndex.02_RSPT</item>
        <item name="02_RSTT">OSI_DA1.UnitIndex.02_RSTT</item>
        <item name="02_MSFT">OSI_DA1.UnitIndex.02_MSFT</item>
        <item name="02_CEV">OSI_DA1.UnitIndex.02_CEV</item>
        <item name="02_AP">OSI_DA1.UnitIndex.02_AP</item>
        <item name="02_RP">OSI_DA1.UnitIndex.02_RP</item>
      </opcItem>
      <opcItem id="3">
        <item name="03_SEOC" strategy="Average">
          <subItem name="03_SEOC_01">OSI_DA1.UnitIndex.03_SEOC_01</subItem>
          <subItem name="03_SEOC_02">OSI_DA1.UnitIndex.03_SEOC_02</subItem>
        </item>
        <item name="03_SEOT" strategy="Average">
          <subItem name="03_SEOT_01">OSI_DA1.UnitIndex.03_SEOT_01</subItem>
          <subItem name="03_SEOT_02">OSI_DA1.UnitIndex.03_SEOT_02</subItem>
        </item>
        <item name="03_ALR">OSI_DA1.UnitIndex.03_ALR</item>
        <item name="03_ACB">OSI_DA1.UnitIndex.03_ACB</item>
        <item name="03_BFW">OSI_DA1.UnitIndex.03_BFW</item>
        <item name="03_DWF">OSI_DA1.UnitIndex.03_DWF</item>
        <item name="03_FWF">OSI_DA1.UnitIndex.03_FWF</item>
        <item name="03_FWP">OSI_DA1.UnitIndex.03_FWP</item>
        <item name="03_MSPB">OSI_DA1.UnitIndex.03_MSPB</item>
        <item name="03_MSTB">OSI_DA1.UnitIndex.03_MSTB</item>
        <item name="03_RSPB">OSI_DA1.UnitIndex.03_RSPB</item>
        <item name="03_RSTB">OSI_DA1.UnitIndex.03_RSTB</item>
        <item name="03_MSPT">OSI_DA1.UnitIndex.03_MSPT</item>
        <item name="03_MSTT">OSI_DA1.UnitIndex.03_MSTT</item>
        <item name="03_RSPT">OSI_DA1.UnitIndex.03_RSPT</item>
        <item name="03_RSTT">OSI_DA1.UnitIndex.03_RSTT</item>
        <item name="03_MSFT">OSI_DA1.UnitIndex.03_MSFT</item>
        <item name="03_CEV">OSI_DA1.UnitIndex.03_CEV</item>
        <item name="03_AP">OSI_DA1.UnitIndex.03_AP</item>
        <item name="03_RP">OSI_DA1.UnitIndex.03_RP</item>
      </opcItem>
      <opcItem id="4">
        <item name="04_SEOC" strategy="Average">
          <subItem name="04_SEOC_01">OSI_DA1.UnitIndex.04_SEOC_01</subItem>
          <subItem name="04_SEOC_02">OSI_DA1.UnitIndex.04_SEOC_02</subItem>
        </item>
        <item name="04_SEOT" strategy="Average">
          <subItem name="04_SEOT_01">OSI_DA1.UnitIndex.04_SEOT_01</subItem>
          <subItem name="04_SEOT_02">OSI_DA1.UnitIndex.04_SEOT_02</subItem>
        </item>
        <item name="04_ALR">OSI_DA1.UnitIndex.04_ALR</item>
        <item name="04_ACB">OSI_DA1.UnitIndex.04_ACB</item>
        <item name="04_BFW">OSI_DA1.UnitIndex.04_BFW</item>
        <item name="04_DWF">OSI_DA1.UnitIndex.04_DWF</item>
        <item name="04_FWF">OSI_DA1.UnitIndex.04_FWF</item>
        <item name="04_FWP">OSI_DA1.UnitIndex.04_FWP</item>
        <item name="04_MSPB">OSI_DA1.UnitIndex.04_MSPB</item>
        <item name="04_MSTB">OSI_DA1.UnitIndex.04_MSTB</item>
        <item name="04_RSPB">OSI_DA1.UnitIndex.04_RSPB</item>
        <item name="04_RSTB">OSI_DA1.UnitIndex.04_RSTB</item>
        <item name="04_MSPT">OSI_DA1.UnitIndex.04_MSPT</item>
        <item name="04_MSTT">OSI_DA1.UnitIndex.04_MSTT</item>
        <item name="04_RSPT">OSI_DA1.UnitIndex.04_RSPT</item>
        <item name="04_RSTT">OSI_DA1.UnitIndex.04_RSTT</item>
        <item name="04_MSFT">OSI_DA1.UnitIndex.04_MSFT</item>
        <item name="04_CEV">OSI_DA1.UnitIndex.04_CEV</item>
        <item name="04_AP">OSI_DA1.UnitIndex.04_AP</item>
        <item name="04_RP">OSI_DA1.UnitIndex.04_RP</item>
      </opcItem>
    </group>
  </opcInfo>
  <opcInfo type="EnvironmentalIndex.Index">
    <ip>localhost</ip>
    <serverName>KEPware.KEPServerEx.V4</serverName>
    <group name="Gp.Group.EnvironmentalIndex.Index" timespan="300">
      <groupDefaultProperties isActive="true" deadBand="0" updateRate="1000" />
      <groupProperties isActive="true" deadBand="0" updateRate="1000" isSubscribed="true" />
      <opcItem id="0">
        <item name="SO2">OSI_DA1.EnvironmentalIndex.SO2</item>
        <item name="NOX">OSI_DA1.EnvironmentalIndex.NOX</item>
        <item name="DSPC">OSI_DA1.EnvironmentalIndex.DSPC</item>
        <item name="DNPC">OSI_DA1.EnvironmentalIndex.DNPC</item>
      </opcItem>

    </group>
  </opcInfo>
  <rawDataProcessor>
    <class assembly="Tsclab.OpcAccess.QuickStart" fullname="Tsclab.OpcAccess.QuickStart.GpRawDataProcessor"/>
  </rawDataProcessor>
</config>
